<div style="text-align: center; background-color: #44A5AE;" class="header">
	<img src="logo.png" alt="logo">
	<br />
	
	<a href="home"><button>home</button></a>
	<a href="contact-us"><button>contact us</button></a>
	<a href="about-us"><button>about us</button></a>
	<a href="calendar"><button>calendar</button></a>
	<a href="contract"><button>contract</button></a>
	<a href="items"><button>rental items</button></a>
</div>