<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

	<% include partials/header.ejs %>
	<div style="text-align: center;">
		<h2> Our Story </h2>
		
		<img style="margin: 10px;" src="tables.png" alt="table">
		<p>Family owned and operated I rentals seeks to bring the availability of tables and chairs to the Emmett valley</p>
	</div>

	<% include partials/footer %>
	
</body>
</html>
