<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

	<% include partials/header.ejs %>
	<div>
		<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.name %> - <%= r.description %></li>
    <% }); %>
</ul>
	</div>
	<% include partials/footer %>
	
</body>
</html>
