<!DOCTYPE html>
<html>
<head>
	<% include partials/head.ejs %>
	<link href='/stylesheets/fullcalendar.min.css' rel='stylesheet' />
	<link href='/stylesheets/fullcalendar.print.min.css' rel='stylesheet' media='print' />
	<script src='moment.min.js'></script>
	<script src='jquery.min.js'></script>
	<script src='fullcalendar.min.js'></script>
	<script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
			defaultDate: '2018-03-12',
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
			
			<% results.forEach(function(r) { %>
				{
					title: 'reservation for <%= r.qauntity %> <%= r.name %>',
					start: '<%=day %>'
				},
			<% }); %>
			
			]
		});

	});

</script>
<style>

  body {
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>

</head>

<body>

	<% include partials/header.ejs %>
	
	<div id='calendar'></div>
  
	<% include partials/footer %>
	
</body>
</html>
