<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

	<% include partials/header.ejs %>
	<div syle="text-align: center;">
		<p> The contract is currently being written and is not able to be displayed </p>
	</div>

	<% include partials/footer %>
	
</body>
</html>
