<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

	<% include partials/header.ejs %>
	<div style="text-align: center;">
		name<input type="text"> <br />
		email<input type="text"> <br />
		message<textarea cols="50" rows="4"></textarea> <br />
		<input type="submit">
	</div>

</body>
</html>
