<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

	<% include partials/header.ejs %>
	<div style="text-align: center;">
		<input placeholder="name" type="text"> <br />
		<input placeholder="email" type="text"> <br />
		<textarea placeholder="message" cols="50" rows="4"></textarea> <br />
		<input type="submit">
	</div>

</body>
</html>
