<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

	<% include partials/header.ejs %>
	<form action="email" method="post" target="_SELF" style="text-align: center;">
		<input placeholder="name" type="text"> <br />
		<input placeholder="email" type="text"> <br />
		<textarea placeholder="message" cols="50" rows="4"></textarea> <br />
		<input type="submit">
	</form>

	<% include partials/footer %>
	
	
</body>
</html>
