<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

	<% include partials/header.ejs %>
	<br />
	<div style="text-align: center;">
		<img width="800px style="margin: 10px;" src="gathering.png" alt="gathering">
	</div>
	
	
	<% include partials/footer.ejs %>
	
</body>
</html>
