<html>
	<body style="margin-top: 200px; text-align: center">
	
		<h1 style="color: red">Type: <%= postage %></h1>
		<h1 style="color: red">Weight: <%= weight %> oz.</h1>
		<h1 style="color: red">Price: $<%= price %></h1>
	</body>
</html>