<html>
	<body style="margin-top: 200px; text-align: center">
	
		<h1 style="color: red"><%= postage %></h1>
		<h1 style="color: red"><%= weight %> oz.</h1>
		<h1 style="color: red"><%= price %></h1>
	</body>
</html>