<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<body>

	<% include partials/header.ejs %>
	<div style="text-align: center;">
		<h2> Thanks!!! your email has been sent</h2>
		
	</div>

	<% include partials/footer %>
	
</body>
</html>
