<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>

<body style="margin-top: 200px; text-align: center;">

<a href="postForm.html">prove09</a> <br />
<a href="/getPerson">proj02</a>


</body>
</html>
